<h1>Flexbox</h1>
<h3>Flex requiere dos elementos para funcionar:</h3>
<ul>
  <li>Flex container (se comporta como bloque)</li>
  <li>Flex item (solo hijos directos y se comportan como cajas flexibles)</li>
</ul>
<p>
  El display flex, hará que el elemento se comporte como un bloque (display: block)
  quienes reciben la mayor configuracion son los items
</p>
<p>
  Flex se rige de dos direcciones:
</p>
<ul>
  <li>x: main-start + main-end = main-axis</li>
  <li>y: cross-start + cross-end = cross-axis</li>
</ul>
<p>Por defecto flex mantiene la altura en base a el contenido de los elementos</p>
<div class="flex-container">
  <p class="flex-item">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque corporis perferendis blanditiis sequi aperiam magni eum laboriosam repellat similique cupiditate voluptatem laudantium, incidunt adipisci pariatur veritatis rem ullam aliquam ipsam?
    Recusandae, eveniet eaque distinctio, id magnam architecto saepe omnis exercitationem natus praesentium laborum voluptatem quas ratione libero fuga nihil perferendis! Quo facere corporis quos, impedit nobis dignissimos totam sint optio.
    Accusantium, repellendus impedit nisi quisquam velit temporibus animi quas, dolorem soluta facere, aliquid consectetur explicabo quidem dolorum asperiores qui numquam recusandae vitae accusamus fugiat quod corporis ab nemo saepe. Animi.
    Exercitationem mollitia ratione quam fugiat officiis est porro impedit, quisquam nobis id aliquam placeat consectetur, illum ipsa ducimus enim expedita provident quasi! Commodi perferendis rerum at iste recusandae nihil molestias.
    Maxime reiciendis voluptatem laboriosam sunt nihil ab qui molestiae quia sapiente dolorum nulla distinctio blanditiis consequatur soluta illo delectus repellendus illum at, est ex? Blanditiis debitis nam porro similique inventore?
    Eveniet nisi repudiandae quo magnam nulla vero molestias, aliquam voluptatum nostrum esse excepturi magni quibusdam asperiores sint inventore totam blanditiis veritatis aut minima mollitia quos porro quia animi recusandae! Quia?
    Architecto expedita sequi voluptatem aut exercitationem. Officiis quos expedita mollitia molestiae harum laboriosam id reiciendis voluptatibus obcaecati ab suscipit, corporis tempora iusto. Maiores incidunt expedita eum magnam quia. Nemo, tenetur.
    Tenetur, accusamus quos alias repellat suscipit cupiditate facere neque nesciunt quae eaque, enim dolorum voluptates deserunt architecto id illo fugiat facilis optio reprehenderit? Suscipit blanditiis accusantium dolor, deserunt pariatur eveniet?
    Iste mollitia vitae ipsam officiis itaque eos quia enim rem non? Vel similique hic ipsam! Cupiditate, distinctio? Accusamus consectetur eaque quo ea excepturi at minus, ratione asperiores rerum, distinctio recusandae.
    Eum dolore odio asperiores sit veritatis saepe sint voluptas. Accusantium, vero consequatur. Velit in, at molestiae accusantium doloribus ab ducimus aliquam atque tempora minus porro beatae numquam ad dolores fuga!
  </p>
  <p class="flex-item">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur explicabo vero minus, distinctio illo ratione? Perferendis, rerum, ex sed iste accusantium iusto totam adipisci, aliquid voluptas atque sapiente accusamus amet!
    Voluptate porro nulla ipsam mollitia explicabo labore nobis eveniet recusandae, fugit nihil repudiandae autem rerum velit, reprehenderit cupiditate qui laboriosam beatae illum quos ratione id ipsa, voluptatem deserunt eius! Id?
    Alias, doloremque est! Libero, rerum excepturi nemo debitis dolores veniam, quisquam saepe deleniti sint architecto cupiditate enim modi in iste fugit quidem, natus vel nihil temporibus minima aliquam magnam. Illum.
    Animi adipisci eaque deleniti error aspernatur aliquid ipsam ut dicta, provident, nisi perferendis voluptas minus velit? Explicabo ducimus, aliquam dolorum error, aspernatur ab placeat adipisci saepe quae molestias vitae eos!
    Ut fugit totam assumenda suscipit consequatur vero sit, saepe officia autem, eligendi nisi consequuntur qui reiciendis rerum, accusantium magnam perspiciatis repellendus eius facilis voluptate. Dolores fugiat vero vitae in minus.
    Adipisci sit quia ipsam, incidunt odio asperiores animi neque repellendus ab voluptate dignissimos voluptatibus beatae rerum accusamus nihil id, maxime, tempore totam culpa magnam soluta quae quasi facere. Amet, quae.
    Totam, placeat distinctio consectetur dolor explicabo inventore atque quo repellat neque hic eaque debitis exercitationem ipsa vitae magnam architecto voluptate autem perferendis laudantium! Laborum id deleniti quae sequi vel consectetur.
    Repellat asperiores sequi error accusantium facilis odio dolores eaque, fugit accusamus? Soluta, illo, voluptatem ea expedita repellat eius tempora quaerat eligendi molestias id, quo tenetur quidem fugit adipisci. Incidunt, ullam.
    Dolores ex dolore illo eius commodi accusamus perspiciatis dolorum id voluptatem, ea vitae dolor autem, ducimus eos vero aperiam facilis, repellat laborum sapiente quod? Illo porro sit aspernatur qui natus?
    Eligendi soluta aut recusandae hic eius molestias explicabo, beatae voluptate modi nam, nobis molestiae perspiciatis cumque accusamus est quaerat, error tempore dolor ad dicta consequuntur non sed! Nihil, iure laudantium!
  </p>
</div>
<h3>Propiedades que se aplican al contenedor</h3>
<h4>flex-direction</h4>
<p>Cambia la direccion del main axis</p>
<div class="box-container">
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
</div>

<h4>flex-wrap</h4>
<p>wrap: respeta el tamaño definido de los items</p>
<div class="box-container-wrap">
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
</div>
<p>El flex-direction y el flex-wrap se pueden acortar con la propiedad flex-flow</p>
<p>flex-flow: flex-direction flex-wrap</p>

<h4>justify-content</h4>
<p>Permite alinear a los items horizontalmente</p>
<div class="box-container-justify">
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
</div>

<h4>align-content | align-items (solo funciona cuando se tiene una fila de elementos flex)</h4>
<p>Permite alinear a los items en el eje y</p>
<div class="box-container-align">
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
</div>


<h3>Propiedades que se aplican a los items</h3>
<h4>Align-self</h4>
<p>Permite alinear un item en particular en el eje y</p>
<div class="box-container-wrap" style="height: 300px;">
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item" style="align-self: center;">

  </div>
</div>

<h4>flex-grow</h4>
<p>Reparte el espacio sobrante del flex container al item al que se le haya definido esta propiedad</p>
<div class="box-container-wrap">
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item" style="flex-grow: 1;">

  </div>
  <div class="box-item">

  </div>
</div>

<h4>flex-basis</h4>
<p>Propiedad especial de los flex items, con el cual se define el ancho del elemento </p>
<div class="box-container-wrap">
  <div class="box-item">

  </div>
  <div class="box-item" style="flex-basis: 200px;">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
</div>

<h4>flex-shrink</h4>
<p>Define cuanto espacio sederá el flex item</p>
<div class="flex-container">
  <div class="box-item" style="flex-shrink: 0; flex-basis: 400px;">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
  <div class="box-item">

  </div>
</div>
